.body{
    background-color:white; 
}

.border{
    border-style: solid;
    border-top-color:#d02120;
}

.textsmall{
    font-size: 20px;
}

.keepmelogged{
    vertical-align: top;
}

.loginborder{
    border-width: 20px;
    border-color: #d02120;
}